/*cuadro principal*/
.App-bicicletas {
    min-height: 100vh;
    /*width: 100%;*/
    height: 120vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding: 1rem;
    background-color: #ddd;
    border-radius: 0.5em;
}

/*cuadro principal*/
.App-inventario {
    min-height: 100vh;
    width: 140vh;
    height: 120vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding: 1rem;
    background-color: #ddd;
    border-radius: 0.5em;
}

/*cuadros secundarios*/
.dataCard {
    background-color: #efefef;
    border-radius: 1em;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 16px 100px; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /*overflow: visible;*/
}

/*titulos de los gráficos*/
.dataCard h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
}

/*cuadro gráfico principal*/
.revenueCard {
    grid-column: 1 / 3;
    width: 100%;
    height: 33rem; 
}

/*cuadros gráficos de abajo */
.customerCard,
.categoryCard {
    width: 100%; 
    height: 33rem;
}

/*titulo principal*/
.title-table2 {
    font-size: 2rem; 
    margin: 3rem 0; 
    text-align: left;
    white-space: normal;
}

/*titulos de los gráficos sin datos*/
.no-data-message-title{
    display: flex;
    align-items: center;
    height: 500px;
}

/*estructura general del contenedor*/
.main-container2 {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-left: 15vh;
}

/*regula titulo principal*/
.top-table2 {
    margin-bottom: 20px;
    text-align: center;
}

/*ancho del contenedor*/
.table-container2 {
    width: 97.4%;
    margin: 0;
}

/* estilo para el desplegable*/
.month-selector {
    font-size: 1rem; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
}

/*estilo para el desplegable del año*/
.year-selector{
    font-size: 1rem; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
}

/*estilo para el desplegable de filtro*/
.filter-selector {
    font-size: 1rem; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
    margin-left: 0.5rem;
}

/*estilo para el desplegable del dia*/
.day-selector {
    font-size: 1rem; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
}

/*estilo para el contenedor de los desplegables*/
.selectors-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.recharts-responsive-container {
    width: 100%;
    height: 100%;
}

/*estilo para el datepicker*/
.datepicker-container {
    display: flex;
    align-items: center; 
    gap: 20px; 
    min-width: 300px;
}

/*estilo para el texto de error*/
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0;
    white-space: nowrap;
}

/* DARKMODE */
body.dark-mode {
    .App-bicicletas {
        background-color: #121212;
    }
    .App-inventario {
        background-color: #121212;
    }
    .dataCard {
        background-color: #1F1F1F;
    }

    .recharts-wrapper{
        background-color: #1f1f1f00;
    }
}