/* .filter-actions {
    display: flex;
    gap: 10px;
    button {
        background: rgba(255, 255, 255, 0.87);
        border: #fff;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;        
    }
} */

.delete-notificacion{
    margin-right:  70px;
}
