.table-container .tabulator .tabulator-col {
    background-color: #003366;
    color: #fff;
}
.tabulator .tabulator-footer .tabulator-page {
    background-color: #fff;
    color: black;
    border: 1px solid #003366;
    padding: 4px 8px;
    border-radius: 4px;
}
.tabulator .tabulator-footer .tabulator-page.active {
    color: #E4332C;
}

/* Estilos adicionales para la tabla */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table-container th {
    background-color: #f4f4f4;
}

.table-container td {
    background-color: #fff;
    color: #000;
}

/* Estilo general del scroll */
::-webkit-scrollbar {
    width: 10px; /* Ancho del scroll vertical */
    height: 10px; /* Altura del scroll horizontal */
}

/* Color de fondo del track (canal del scroll) */
::-webkit-scrollbar-track {
    background: #fffcfc; /* Fondo oscuro */
    border-radius: 5px;
    }

::-webkit-scrollbar-thumb {
        background-color: #ffffff; /* Azul */
        border-radius: 5px; /* Bordes redondeados */
        border: 2px solid #000000; /* Borde que coincide con el fondo */
}


/* Para DarkMode */

body.dark-mode {

    .table-container .tabulator .tabulator-col {
        background-color: #121228;
        color: #bbb;
    }

    .tabulator-cell{
        background-color: #1f1f1f;
        color: #bbb;
    }

    .tabulator-tableholder{
        background-color: #1f1f1f;
    }
    
    
    .tabulator-footer{
        background-color: #1f1f1f;
    }

    .table-container th, .table-container td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .table-container th {
        background-color: #f4f4f4;
    }
    
    .table-container td {
        background-color: #fff;
        color: #000;
    }

    .tabulator-cell.tabulator-frozen{
        background-color: #1f1f1f;
    }

    div.tabulator-row.tabulator-selectable.tabulator-row-even{
        background-color: #000000;

        .tabulator-cell{
            background-color: #121212;
        }
    }
    

/* Color de fondo del track (canal del scroll) */
    ::-webkit-scrollbar-track {
    background: #1f1f1f; /* Fondo oscuro */
    border-radius: 5px;
    }

/* Color del thumb (barra del scroll) */
    ::-webkit-scrollbar-thumb {
    background-color: #bbb; /* Azul */
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solid #2c2c2c; /* Borde que coincide con el fondo */
    }

/* Hover en el thumb */
    ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; /* Azul más oscuro al pasar el mouse */
    }
}